body {
	background-image: url("https://djbooth.net/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_600/MTUzNDg1OTk2NTc4NzEwNzI2/wattba-1-listenjpg.webp");
	margin: 0px;
    padding: 0px;
    color: gold;
}

h3 {
   	background-color:black;
    color:gold;
    border-style: groove;
    border: 5px;
    border-color: gold;
    font-family: 'Ovo', serif;
    border-style: solid;
    border-width: 4px;
    padding: .1px;

}

.btn {
    background-color: black;
    background-image: none;
    background-color: black;
    font-family: 'Ovo', serif;
    border-style: solid;
    border-color: gold;
}

.scores {
    background-color:black;
    color:gold;
    border-style: groove;
    border: 5px;
    border-color: silver;
    font-family: 'Ovo', serif;
    border-style: solid;
	border-color: gold;
    border-width: 4px;
    padding: .1px;
 
}

.jumbotron {
	background-color:black;
    color:gold;
    border-style: groove;
    border: 5px;
    border-color: silver;
    font-family: 'Ovo', serif;
    border-style: solid;
	border-color: gold;
    border-width: 4px;
    border-top: 4px;
    border-right: 4px;
    border-left: 4px;
    padding: .1px;

}

.owl {
    width: 100px;
    height: auto;
}

.target-number {
	font-size: 30px;
	background-color: black;
	border-style: solid;
	border-color: gold;
    border-width: 4px;
    font-family: 'Ovo', serif;

}

.win-lose-counter {
	background-color: black;
	border-style: solid;
	border-color: gold;
    border-width: 4px;
    font-family: 'Ovo', serif;
    color: gold

}

.crystal-images {
	margin-top: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    float: left;
    align-content: center;
}

.total-score {
	color: gold;
    background-color: black;
    font-family: 'Ovo', serif;

}

.score-number {
	color: gold;
	background-color: black;
    font-size: 30px;
    font-family: 'Ovo', serif;

}

.panel-body {
    color: gold;
    background-color: black;
    font-family: 'Ovo', serif;
    border-style: solid;
	border-color: gold;

}

.panel-title {
    color: gold;
    background-color: black;
    font-family: 'Ovo', serif;


}

.panel > .panel-heading {
    background-image: none;
    background-color:black;
    font-family: 'Ovo', serif;
    border-style: solid;
	border-color: gold;
    border-width: 4px;
    border-bottom: 4px;



}

#total-score {
    background-image: none;
    background-color:black;
    font-family: 'Ovo', serif;
    border-style: solid;
	border-color: gold;

}

#winOrLose {
    padding: 15px;
}

